/* este css es tan humano que pide reconcimiento como una persona
me hace cordar a la trama de ted 2*/

body{
  background: linear-gradient(to bottom, #000000, #363636);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  color: #41FF00;
}

.diplay{
  width: 300px;
  justify-content: center;
  background-color: #808080;
  color: greenyellow;
  gap: 10px;
  padding: 30px;
}

h1{
  width: 50%;
  color: #41FF00;
  justify-content: center;
}
.form{
  justify-content: center;
  background-color: rgb(54, 53, 53);
  color: #C6A664;
  font-size: medium;
}

.lista{
  width: 450px;
  background-color: #363636;
  }

  dialog{
    height:100%;
    width: 30%;
    justify-content: right;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #363636;
  }
  /* por que carrito mexa por que esta bien mamalon como dicen los emxicanos*/
  .carritomexa{
    background-color: #363636;
  }
